/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/

:root {
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --header-height: 3rem;
    --font-semi: 600;
}

:root {
    /*========== Colors ==========*/
    /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
    /* HSL color mode */
    /* --hue-color: hsl(358, 80%, 29%); */
    --hue-color: 358;
    --first-color: hsl(var(--hue-color), 77%, 35%);
    --first-color-lighter: hsl(var(--hue-color), 58%, 30%);
    --white-color: #FAFAFF;
    --dark-color: #2A3B47;
    --black-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 0%);
    --body-color: #FFF;
}


/*===== z index =====*/

:root {
    --z-back: -10;
    --z-fixed: 100;
    --z-tooltip: 10;
    --z-fixed: 100;
}


/*===== Margenes =====*/

:root {
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --mb-7: 5rem;
    --mb-0: -6rem;
}


/*========== Font and typography ==========*/

:root {
    --biggest-font-size: 2rem;
    --big-font-size: 1.2rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --section-font-size: 1.7rem;
}

@media screen and (min-width: 320px) {
     :root {
        --biggest-font-size: 1.5rem;
        --big-font-size: 1.2rem;
        --normal-font-size: 1rem;
        --small-font-size: .9rem;
        --section-font-size: 1.5rem;
    }
}

@media screen and (min-width: 968px) {
     :root {
        --biggest-font-size: 2rem;
        --big-font-size: 1.2rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --section-font-size: 1.7rem;
    }
}


/*===== BASE =====*/

*,
 ::before,
 ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
p {
    margin: 0;
}

b {
    font-weight: var(--font-semi);
    color: var(--first-color-lighter);
}

ul {
    list-style: square;
}

a {
    text-decoration: none;
    color: var(--first-color-lighter);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*===== CLASS CSS ===== */

.section__title {
    /* position: relative; */
    font-size: var(--section-font-size);
    color: var(--first-color);
    text-align: center;
    font-weight: var(--font-semi);
}

.subsection__title {
    position: relative;
    font-size: var(--big-font-size);
    color: var(--first-color);
    /* margin-left: var(--mb-2); */
    text-align: left;
    font-weight: var(--font-semi);
}

.research {
    margin-top: -7rem;
}

.publications {
    margin-top: 2rem;
}

.recognitions {
    margin-top: 2rem;
}


/*===== LAYOUT =====*/


/* .main {
    position: relative;
} */

.bd-container {
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.bd-grid {
    max-width: 1024px;
    width: calc(100% - 2rem);
    display: grid;
    gap: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}


/*===== NAV =====*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 50%;
        width: 50%;
        padding: 1.5rem 0 1rem;
        text-align: left;
        background-color: var(--body-color);
        transition: .3s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
    }
}

.nav__item {
    margin-bottom: var(--mb-2);
}

.nav__link {
    position: relative;
    color: var(--first-color);
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__logo {
    color: var(--first-color);
}

.nav__logo:hover {
    color: var(--black-color);
}

.nav__toggle {
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}


/*=== Show menu ===*/

.show-menu {
    top: var(--header-height);
}


/* Active menu */

.active {
    color: var(--first-color);
}


/* .active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
} */


/* Scroll top */

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: var(--first-color);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color-lighter);
}

.scrolltop__icon {
    font-size: 1.8rem;
    color: var(--body-color);
}


/* Show scrolltop */

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}


/* ===== ABOUT =====*/

.about {
    background: var(--white-color);
}

.about__container {
    justify-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
}

.about__imgNoBackground {
    justify-content: center;
    text-align: center;
    margin-top: var(--mb-1);
    border-radius: 2%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.about__name {
    font-size: var(--big-font-size);
    color: var(--black-color);
    text-align: center;
    font-weight: var(--font-semi);
    margin-top: var(--mb-1);
}

.about__title {
    text-align: center;
    font-size: var(--normal-font-size);
    color: var(--black-color);
    margin-bottom: var(--mb-1);
}

.about__profession {
    text-align: center;
    font-size: var(--normal-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.about__text {
    justify-items: left;
    color: var(--black-color);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
}

.about__social-icon {
    font-size: 1.4rem;
    margin: 0 var(--mb-1);
}

.about__social-icon:hover {
    color: var(--first-color);
}

.about__link {
    color: var(--first-color);
}

.about__link:hover {
    position: relative;
}

.about__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.1rem;
    left: 0;
    top: 1.1rem;
    color: var(--dark-color);
    background-color: var(--first-color);
}


/*=== BUTTONS ===*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .2rem .7rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}


/*========== HOME BLOCK ==========*/

.block__container {
    /* justify-content: center; */
    justify-items: center;
}

.block__content {
    justify-items: center;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
    padding: .75rem;
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);
}

.block__img {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50%;
    border-radius: .5rem;
    margin-top: var(--mb-1);
}

.block__title {
    font-size: var(--big-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
    display: block;
    text-align: left;
    font-weight: var(--font-semi);
}

.block__detail {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
    display: block;
    font-weight: var(--font-semi);
}

.block__date {
    font-size: var(--small-font-size);
    display: block;
}

.block__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .2rem .813rem;
    border-radius: .5rem 0 .5rem 0;
    margin-top: var(--mb-1);
}


/*========== BLOCK 2 ==========*/

.blockRow__container {
    row-gap: 2rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
    padding: 2.5rem 1.5rem 2.5rem;
    border-radius: .5rem;
    margin-bottom: var(--mb-2);
}

.blockRow__img {
    display: flex;
    /* justify-content: center; */
    align-self: left;
    width: 80%;
    border-radius: .5rem;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.blockRow__detail {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
    display: block;
    font-weight: var(--font-semi);
    text-align: left;
}

.blockRow__title {
    font-size: var(--normal-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
    display: block;
    text-align: left;
    font-weight: var(--font-semi);
}

.blockRow__subtitle {
    font-size: var(--normal-font-size);
    color: var(--dark-color);
    margin-top: -.5rem;
    margin-bottom: var(--mb-1);
    display: block;
    text-align: left;
    font-weight: var(--font-semi);
}

.blockRow__date {
    font-size: var(--normal-font-size);
    color: var(--dark-color);
    margin-top: -.5rem;
    margin-bottom: var(--mb-1);
    display: block;
    text-align: left;
    font-weight: var(--font-semi);
}

.blockRow__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
}


/* =====  MYTEXT =====*/

.myText__container {
    text-align: left;
    position: relative;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
    padding: .75rem;
    margin-bottom: var(--mb-2);
}

.myText__text {
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-1);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.myText__author {
    color: var(--first-color);
}


/* ===== FOOTER =====*/

.footer {
    background-color: var(--first-color);
    color: var(--body-color);
    text-align: center;
    font-weight: var(--font-semi);
    padding: .5rem 0;
    justify-content: center;
    align-content: center;
}


/* .footer__text {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 1.5rem;
    color: var(--body-color);
    margin: 0 var(--mb-2);
} */

.footer__copy {
    font-size: var(--small-font-size);
}

.footer__img {
    position: relative;
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-1);
    margin-left: auto;
    margin-right: auto;
    width: 117px;
}


/*========== MEDIA QUERIES ==========*/


/* For small devices */

@media screen and (min-width: 320px) {
    .bd-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .bd-grid {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .nav__list {
        list-style: none;
    }
    .controls__container {
        column-gap: .25rem;
    }
    .section {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .news {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .research {
        padding-top: 7rem;
        padding-bottom: 1rem;
    }
    .about__container {
        align-items: center;
        text-align: center;
    }
    .about__imgNoBackground {
        width: 300px;
        margin: auto;
    }
    .blockRow__img {
        width: 300px;
        /* margin: auto; */
    }
    .blockRow__title {
        /* margin: auto; */
        text-align: auto;
    }
    .blockRow__date {
        text-align: auto;
    }
    .block__date {
        text-align: auto;
    }
    .block__title {
        text-align: auto;
    }
    .block__detail {
        text-align: left;
    }
    .block__img {
        height: 170px;
        margin-bottom: var(--mb-3);
    }
    .button {
        margin-bottom: var(--mb-1);
        margin-top: var(--mb-1);
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .bd-container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
    .bd-grid {
        width: calc(100% - 2rem);
        margin-left: var(--mb-2);
        margin-right: var(--mb-2);
    }
    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .news {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .research {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
        display: flex;
        padding-top: 0;
        /* padding-left: 0; */
        list-style: none;
    }
    .nav__item {
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav__toggle {
        display: none;
    }
    .block__container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        /* column-gap: 2rem; */
    }
    .about__container {
        grid-template-columns: repeat(2, max-content);
        margin-top: var(--mb-4);
        column-gap: 3rem;
        align-items: center;
        text-align: initial;
        padding: 2rem 0;
    }
    .about__imgNoBackground {
        align-content: center;
        width: 277px;
    }
    .about__text {
        width: 450px;
    }
    .button {
        margin-bottom: var(--mb-0);
        margin-top: var(--mb-0);
    }
}

@media screen and (min-width: 1024px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .block__container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.5rem;
    }
    .block__content {
        padding: 1rem;
    }
    .blockRow__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        padding: 1rem 1rem 1rem 1rem;
    }
    .blockRow__img {
        /* align-items: top; */
        margin: auto;
        width: 200px;
    }
    .blockRow__detail {
        width: 777px;
    }
    .blockRow__title {
        width: 777px;
    }
    .blockRow__subtitle {
        width: 777px;
    }
    .about__container {
        grid-template-columns: repeat(2, max-content);
        margin-top: var(--mb-4);
        column-gap: 2rem;
        align-items: center;
        text-align: initial;
        padding: 2rem 0;
    }
    .about__imgNoBackground {
        align-content: center;
        width: 277px;
    }
    .about__text {
        width: 677px;
    }
}

@media screen and (min-width: 1024px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
}


/* For tall screens on mobiles y desktop*/

@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}